html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
=======================================================
reset css
=======================================================
 */


/*
=======================================================
標頭開始
=======================================================
 */

.container {
    max-width: 1040px;
    padding: 0 20px;
}

.navbar-default {
    background-color: transparent;
    /*background-color: #ad8541;*/
    border: none;
}

.logoImg img {
    max-width: 100%;
    width: 157px;
    height: 39px;
}

.logoImg {
    padding: .5%;
}

.logoImg ul {
    display: inline-flex;
}

.navbar-fixed-top .logoImg li:before {
    content: "/";
    color: #a0a9b0;
    padding: 0 13px 0 7px;
    display: inline-block;
    vertical-align: middle;
}

.navbar-right a {
    color: #fff;
}

a:focus,
a:hover {
    color: #eeeae5;
    text-decoration: none;
    outline: none;
}

.navbar-right {
    font-size: 18px;
    line-height: 12px;
    font-weight: 300;
}


/*
=======================================================
標頭結束
=======================================================
 */


/*
=======================================================
特效
=======================================================
 */

.pixeden {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 63px;
    margin: auto;
}

.service-icon {
    display: block;
    position: relative;
    width: 145px;
    height: 145px;
    margin: auto;
    margin-bottom: 30px;
    margin-bottom: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.red-border-bottom {
    color: #1d479b;
    font-family: SFCompactDisplayS;
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

.radiusorange-button {
    border-radius: 50px;
    background-color: #fa9d1c;
    border-color: #fa9d;
    color: white;
    transition: all 0.2s ease-in-out;
}

.radiusFB-button {
    border-radius: 50px;
}

.radiusB-Text {
    border-radius: 50px;
    margin-top: 10px;
    background-color: #112b64;
    border-color: #112b64;
}

.radiusB-Text.placeholder {
    text-align: center;
    color: white;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    ccolor: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: white;
}

.box-content {
    display: inline-block;
    padding-right: 4%;
    padding-left: 4%;
}

.bottom {
    border-bottom: 1px solid #f99d1a;
}

.right {
    border-right: 1px solid #f99d1a;
    height: 30%;
}

@font-face {
    font-family: "GeogrotesqueBD";
    src: url(../fonts/GeogrotesqueCompressed/GEOGROTESQUECOMP-BOLDITALIC.OTF);
}

@font-face {
    font-family: "GeogrotesqueBK";
    src: url(../fonts/GeogrotesqueCompressed/GEOGROTESQUECOMP-BOOKITALIC.OTF);
}

@font-face {
    font-family: "GeogrotesqueD";
    src: url(../fonts/GeogrotesqueCompressed/GEOGROTESQUECOMP-DEMIBOLDITAL.OTF);
}

@font-face {
    font-family: "SFCompactDisplayL";
    src: url(../fonts/SFCompactDisplay/SFCompactDisplay-Light.otf);
}

@font-face {
    font-family: "SFCompactDisplayR";
    src: url(../fonts/SFCompactDisplay/SFCompactDisplay-Regular.otf);
}

@font-face {
    font-family: "SFCompactDisplayS";
    src: url(../fonts/SFCompactDisplay/SFCompactDisplay-Semibold.otf);
}

.foottitle {
    font-family: SFCompactDisplayS;
    font-size: 21px;
    margin: 10px;
    color: white;
}

.footdetail {
    font-family: SFCompactDisplayR;
    font-size: 21px;
    margin: 10px;
    color: #919296;
}

.rowblue {
    color: #1b479d;
    font-family: SFCompactDisplayS;
    font-size: 20px;
}

.roworange {
    color: #f99c19;
    font-family: SFCompactDisplayS;
    font-size: 20px;
}

.whitecurvediv {
    top: 93.5%;
    width: 100%;
    position: absolute;
    /*   height: 100%;*/
}

.downloadfont {
    font-family: SFCompactDisplayS;
    color: white;
    text-align: center;
    margin: 20px;
}


/*
=======================================================
特效結束
=======================================================
 */


/*
=======================================================
footer
=======================================================
 */

.footerStyle {
    background: url(../images/home/blue_bg.png);
    padding: 20px 0;
}


/*
=======================================================
footer結束
=======================================================
 */


/*
=======================================================
登入的modal
=======================================================
 */

.login-facebook {
    width: 100%;
    padding: 15px 17px;
    color: #eee;
    margin: 7px 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    cursor: pointer;
}

.login-facebook:hover {
    color: #fff;
}

.login-facebook {
    background: #3b5998;
}

.login-facebook span {
    font-weight: normal;
    font-size: 17px;
    -webkit-text-transform: capitalize;
    -moz-text-transform: capitalize;
    -ms-text-transform: capitalize;
    -o-text-transform: capitalize;
    text-transform: capitalize;
}

.login-facebook i {
    margin-right: 10px;
    font-size: 17px;
}

.loginColor {
    background-color: #6b767e;
    color: #fff;
}

.btn.loginColor:focus {
    background-color: #6b767e;
    color: #fff;
    outline: none;
}

.btn.loginColor:hover {
    background-color: #fff;
    color: #6b767e;
    font-weight: 600;
    border: 1px solid #6b767e;
    outline: none;
}

.or {
    text-align: center;
    display: block;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.errorMsg,
.errorPassword {
    color: red;
    padding-top: 10px;
}

.errorMsg a:hover {
    color: #337ab7;
}


/*
=======================================================
登入的modal
=======================================================
 */


/*
=======================================================
註冊的modal
=======================================================
 */

.signUpMsg {
    padding: 8px 0 0 5px;
    color: red;
}

.signUpDone {
    font-size: 22px;
    color: green;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/*
=======================================================
註冊的modal
=======================================================
 */


/*
=======================================================
首頁圖
=======================================================
 */

.mainBg {
    /* background: url(../video/FDF-Header-Video-BlueOverlay.mp4) center right fixed no-repeat;*/
    -moz-background-size: cover;
    background-size: cover;
    background-position: 40% 70%;
    width: 100%;
    /*   height: 100%;*/
}


/*
=======================================================
首頁圖
=======================================================
*/

@media(max-width: 768px) {
    .mainBg {
        /*background: url(../images/start_bg_web.jpg) center center fixed no-repeat;*/
        -moz-background-size: cover;
        background-position: 23%;
        background-size: 178% 100%;
        width: 100%;
        /*    height: 100%;*/
    }
}