html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.font {
    font-family: 'Roboto';
    font-weight: 600;
}


/*
=======================================================
reset css
=======================================================
 */


/*
=======================================================
標頭開始
=======================================================
 */

.container {
    max-width: 1040px;
    padding: 0 20px;
}

.navbar-default {
    background-color: #6b767e;
    /*background-color: #ad8541;*/
}

.logoImg img {
    max-width: 100%;
    width: 157px;
    height: 39px;
}

.logoImg {
    padding: .5%;
}

.navbar-right a {
    color: #fff;
}

a:focus,
a:hover {
    color: #eeeae5;
    text-decoration: none;
    outline: none;
}

.navbar-right {
    font-size: 18px;
    line-height: 12px;
    font-weight: 300;
}

.dropdown-menu li {
    text-align: center;
}

.dropdown-menu {
    margin: 6px 0;
}

.nav-right {
    display: inline-block;
    color: #fff;
}

.nav-right li {
    display: inline;
    padding: 0 25px;
    cursor: pointer;
}

.nav-right li:hover {
    color: #eeeae5;
}

.navbar-default .navbar-text {
    color: #777;
    display: inline-flex;
}


/*
=======================================================
標頭結束
=======================================================
 */


/*
=======================================================
主畫面
=======================================================
 */

.profile {
    padding: 10%;
}

.profile h1 {
    font-size: 30px;
    font-weight: 500;
}

.showProfile {
    font-size: 24px;
    padding: 5%;
}

.showProfile p {
    padding: 3%;
}

#chart-container {
    width: 100%;
    height: auto;
}


/*
=======================================================
主畫面
=======================================================
 */


/*
=======================================================
年紀錄畫面
=======================================================
 */

.showTextMune,
.showDay,
.showMonth,
.showYear,
.myList {
    font-size: 32px;
    font-weight: 500;
    padding: 20px;
}

.showDayMessage .active:hover {
    cursor: pointer;
}


/*
=======================================================
年紀錄主畫面
=======================================================
 */


/*
=======================================================
月份清單畫面
=======================================================
 */

.showDate {
    display: inline-flex;
}


/*
=======================================================
月份清單畫面
=======================================================
 */

.table {
    border: 1px solid #f5f5f5;
}

.mouseOver {
    padding: 0 50px;
}


/*
廠商的 style
*/

#showTableData h1 {
    margin-top: 80px;
    font-size: 30px;
    padding: 15px 20px;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;}
}

@media(max-width: 768px) {
    .showDate,
    #myList {
        font-size: 22px;
        font-weight: 500;
        padding: 6% 2% 2% 2%;
    }
    .profile {
        padding: 20% 10% 10% 10%;
    }
}