html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: "Roboto", sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 
reset css over
*/


/*
=======================================================
標頭開始
=======================================================
*/

.container {
    max-width: 1040px;
    padding: 0 20px;
}

.navbar-default {
    background-color: #6b767e;
    /*background-color: #ad8541;*/
}

.logoImg img {
    max-width: 100%;
    width: 157px;
    height: 39px;
}

.logoImg {
    padding: 0.5%;
}

.navbar-right a {
    color: #fff;
    margin-left: 10px;
}

a:focus,
a:hover {
    color: #eeeae5;
    text-decoration: none;
    outline: none;
}

.navbar-right {
    font-size: 18px;
    line-height: 12px;
    font-weight: 300;
}

.dropdown-menu li {
    text-align: center;
}

.dropdown-menu {
    margin: 6px 0;
}

.nav-right {
    display: inline-block;
    color: #fff;
}

.nav-right li {
    display: inline;
    padding-left: 15px;
    cursor: pointer;
}

.nav-right li:hover {
    color: #eeeae5;
}

.navbar-default .navbar-text {
    color: #777;
    display: inline-flex;
}

.container-fluid {
    padding-left: 70px;
}


/*
=======================================================
標頭結束
=======================================================
*/


/* 
輸入序號的 modal style
*/

label {
    display: inline-block;
    margin: 0.5rem 0;
}


/* 
個人資訊頁面 style
*/

.showProfile h1 {
    font-size: 32px;
    padding: 20px 0;
}

.showProfile {
    font-size: 24px;
    padding-top: 70px;
}

.showProfile p {
    padding: 10px;
}

.tableListForProfile:hover {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: 5px 5px 5px #888888;
}

.showDataForIP {
    padding-top: 70px;
}

.table {
    border: 1px solid #f5f5f5;
}


/*
開房後的資訊條
*/

.userRanking {
    padding: 70px 0 20px 0;
}

.titleText {
    padding: 70px 0 20px 0;
}

.tableStyle {
    background-color: #fff;
    position: fixed;
    z-index: 99;
    width: 1000px;
}

.transitionForTable {
    box-shadow: 5px 5px 5px #888888;
}


/* 
左邊清單的 icon style
*/

#leftNavIcon {
    position: fixed;
    top: 150px;
    text-align: center;
    background-color: #656565;
    z-index: 1;
}

#leftNavIcon ul {
    display: flex;
    flex-direction: column;
}

#leftNavIcon ul li {
    padding: 10px 0;
}

#leftNavIcon a {
    color: #333;
}

#leftNavIcon i:hover {
    color: #fff;
    cursor: pointer;
}

#startSport input {
    background-color: #656565;
    color: #333;
    font-size: 38px;
    font-weight: bold;
}

#startSport input:hover {
    color: #fff;
}

#startSport .btn {
    padding: 0;
    line-height: 0.8em;
}

.tooltip-inner {
    white-space: nowrap;
    max-width: none;
}


/* 
notificationBtn style
*/

.notificationBtn {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1200px) {
    .tableStyle {
        width: 910px;
    }
}

@media (max-width: 992px) {
    .tableStyle {
        width: 710px;
    }
}

@media (max-width: 768px) {
    .tableStyle {
        width: 93%;
    }
}